<div class="collapse searchbar" id="searchbar">
    <div class="search-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                    <!-- /input-group -->
                </div>
                <!-- /.col-lg-6 -->
            </div>
        </div>
    </div>
</div>
<!-- <div class="top-bar">
    <div class="container">
        <div class="row">
            <div
                class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 col-lg-5 col-md-4 col-sm-6 col-6 d-none d-xl-block d-lg-block">
                <p class="mail-text">Welcome to our YMPA</p>
            </div>
            <div class="col-xl-8 col-lg-7 col-md-12 col-sm-12 col-12 text-right">
                <div class="top-nav"> <span class="top-text"><a href="#">View Locations</a> </span> <span
                        class="top-text"><a href="#">+1800-123-4567</a></span></div>
            </div>
        </div>
    </div>
</div> -->
<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-12 col-sm-6 col-6">
                <!-- logo -->
                <div class="logo">
                    <a href="index.html"><img src="assets/images/logo/logo.png"
                            alt="Borrow - Loan Company Website Template"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Content -->
<div class="pdb40 compare-student-loan-table">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
<a (click)="gotoTop()" class="cd-top pointer" title="Go to top">Top</a>
<!-- Footer -->
<div class="footer section-space1">
    <!-- footer -->
    <div class="container text-white">
        <div class="row ">
            <div class="col-xl-8 col-lg-8 col-md-8">
                <div class="widget-text mt40 ">
                    <!-- widget text -->
                    <p>Yamaha Motor Argentina © All rights reserved.</p>
                    <p>Ruta 24 KM 20,200 (B1748ASA) Gral. Rodriguez </p>
                    <p>Buenos Aires | Argentina </p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4">
                <div class="widget-social mt40 ">
                    <ul class="listnone ">
                        <li><i class="fa fa-globe"></i> &nbsp;&nbsp; <a target="_blank" href="https://www.yamaha-motor.com.ar/">Yamaha Motor Argentina</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.footer -->
<div class="tiny-footer ">
    <!-- tiny footer -->
    <div class="container text-white">
        <div class="row ">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 ">
                <p><a target="_blank" href="#"></a></p>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 text-right ">
                
            </div>
        </div>
    </div>
</div>